/* Styles for the scrollbar itself */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  /* Styles for the draggable part of the scrollbar */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  
  /* Styles for the part of the scrollbar track where the thumb isn't */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
